body {
	background-image: url("https://photos.google.com/photo/AF1QipMNNprcPmSiHAR5jNfbw9IoRYDfUDz1aswwm9Fo");
	font-family: sans-serif;
	background-color: #000000;
	}

h1 {
	text-align: center;
  color: #078777;
  }

h2{
  color: #C4F1BE;
  }

h5 {
	color: #C4F1BE;
	}

div{
	background-color: rgb(138, 141, 145);
  }
