body {
	font: sans-serif;
	color: #CBEAA6;
	background: #3D0B37 no-repeat bottom right;
	margin: 0;
	padding: 0;
	}
p {
	margin-top: 0;
	text-align: justify;
	}
h3 {
	font: italic sans-serif;
	color: #CBEAA6;
	}
